services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: ${CONTAINER_NAME}
    ports:
      - "${DB_PORT}:1433"
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: ${ACCEPT_EULA}
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

volumes:
  sql_data: